@use './variables' as v;
@use './mixins' as m;


.custom-gradient{
    background: linear-gradient(to right, v.$orange 0%, v.$darkenPrimary 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}