// Fuentes
$main_font: 'Poppins', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primary: #3AAFA9;
$darkenPrimary:#2B7A78;
$orange:#FF7F2A;
$light:#DEF2F1;
$black: #17252A; 
$white: #FEFFFF;
