@use '../base/mixins' as m;
@use '../base/variables' as v;


.login__container{
    @include m.desktop{
        height: 100vh;
    }

    display: flex;
    align-items: center;
}

.login__grid{
    width: 100%;

    @include m.desktop{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
}

.login__heading{

    text-align: center;
    font-weight: 700;
    font-size: 4rem;
    @include m.tablet{
        font-size: 6rem;
    }
}

.login__image{

    @include m.desktop{
        margin-top: 0;
    }

    margin: 0 auto;
    width: 70%;
    margin-top: 5rem;

}

